@use './_variable' as *


#cardFormulaire
    padding: 3rem 15vw
#carte
    justify-content: space-between
    min-height: 80vh
    background-color: $white
    border-radius: 1rem
    display: flex
    border: 1px solid black
    box-sizing: border-box
    >div
        padding: 1rem 2rem



    
    