@use './_variable' as *

    
#etape
    background-image: url('./assets/sidebar.svg')
    background-size: cover
    background-position: bottom
    background-repeat: no-repeat
    gap: 1.5rem
    border-radius: 1rem
    margin: 0.5rem
    flex: 1
    display: flex
    flex-direction: column
    .etape
        display: flex
        flex-direction: row
        gap: 1rem
        justify-content: space-between
        align-items: flex-start
        h3,h4
            margin: 0
        h3
            color: $white
            font-size: 1rem
        h4
            color: $Light_gray
            font-size: 0.6rem
        >div:first-child
            flex: 1
            border-radius: 50%
            box-sizing: border-box
            .active
                background-color: $Light_blue
            button
                height: 2rem
                width: 2rem
                border-radius: 50%
                background-color: rgba($Purplish_blue, 0)
                border: $Light_gray solid 2px
                cursor: default
        >div:last-child
            flex: 3
