@use './_variable' as *

    
.plan
    display: flex
    flex-direction: row
    margin: 1rem
    gap: 2%
    >div
        width: 32%
        border: $Light_gray 2px solid
        border-radius: 10px
        box-sizing: border-box
        gap: 2rem
        display: flex
        flex-direction: column
        padding: 0.5rem 1rem 0.5rem 0.5rem
        h3,h4
            margin: 0
        h3
            font-size: larger
            color: $Marine_blue
        h4
            font-size: medium
            color: $Cool_gray
    >div:hover
        cursor: pointer
        border-color: $mauve

.planActive
    border-color: $mauve !important
    backdrop-filter: brightness(0.8)

.form-switch
    background-color: $Light_gray
    